
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
}

.carousel-caption h3 {
  color: #fff;
}

/* .carousel img {
  height: 300px;
} */
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h3 {
    font-size: 2.5vw;
  }
}
form {
  width: 70%;
  background-color:	rgb(51, 51, 51);
  box-shadow: 5px 5px 5px 	rgb(51, 51, 51);
}
@media (max-width: 575.98px) {
  form {
      width: 100%;
  }
}

.color-overlay {
  position: relative;
  /* background-color: rgba(0,0,0,0.2); */
  height: 60%;
  width: 100%;
  mix-blend-mode: normal;
}
